//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  padding: 10px 30px;
  height: auto;

  font-size: 14px;
  text-transform: uppercase;

  background-color: $brand-color;

@include transition(all .4s ease-in-out);

  &-brand {
    color: $white;
    .ke-logo {
      height: 18px;
    }
  }

  .nav-link {
    letter-spacing: 1px;
    color: $white;
  }

  &.ke-header-shrink {
    @include boxshadow(0 1px 8px 1px rgba(0,0,0,.2));
  }
}

.ke-navbar-open {
  background-color: #2d8686;
}

@include respond-to(md-up) {
  .navbar {
    padding: 0;
    height: 100px;

    .ke-logo {
      height: 26px;
    }

    &.ke-header-shrink {
      height: 60px;

@include boxshadow(0 1px 8px 1px rgba(0,0,0,.2));
    }
  }

  .navbar-expand-md {
    .navbar-nav {
      .nav-link {
        padding-right: 14px;
        padding-left: 14px;

        font-size: 12px;
      }
    }
  }
}

@include respond-to(lg-up) {
  .navbar-expand-md {
    .navbar-nav {
      .nav-link {
        padding-right: 15px;
        padding-left: 15px;

        font-size: $content-font-size;
      }
    }
  }
}
