//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  padding: 10px 28px;

  font-size: 14px;
  text-transform: uppercase;

  background-color: $brand-color;
  &-brand {
    color: #fff;
    .ke-logo {
      height: 18px;
    }
  }

  .nav-link {
    color: #fff;
  }
}

.ke-navbar-open {
  background-color: #2d8686;
}

@include respond-to("sm-up") {
  .navbar {
    padding: 28px 28px;
  }
}
