//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the divider component.
// -----------------------------------------------------------------------------
.ke-divider {
  margin: 0 auto;
  width: 70px;
  height: 3px;

  background-color: $brand-color;
}
