//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the ke card component.
// -----------------------------------------------------------------------------

.ke-card {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 28px;

  background-color: $light-grey;
  &-icon {
    padding-top: 4px;
    padding-bottom: 4px;

    .ke-icon {
      width: 72px;
      height: 72px;

      font-size: 26px;
    }
  }

  &-title {
    padding-top: 12px;
    padding-bottom: 12px;

    font-weight: bolder;
  }

  &-content {
    padding-top: 5px;
    padding-bottom: 8px;

    font-size: 14px;
  }
}

@include respond-to(md-up) {
  .ke-card {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    &-icon {
      .ke-icon {
        width: 77px;
        height: 77px;
      }
    }

    &-content {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
