//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.ke-btn {
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;

  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-width: 2px;
  border-style: solid;

  &-white {
    @include button-color($white);
  }

  &-green {
    @include button-color($brand-color);
  }

  &-grey {
    @include button-color($mid-grey);
  }
}

