//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the ke card component.
// -----------------------------------------------------------------------------

.ke-card {
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;

// margin-bottom: 24px;

  background-color: $light-grey;

  &-icon {
    padding-top: 4px;
    padding-bottom: 4px;

    .ke-icon {
      width: 72px;
      height: 72px;

      font-size: 26px;
    }
  }

  &-title {
    padding-top: 12px;
    padding-bottom: 12px;

    font-weight: bolder;
  }

  &-content {
    padding-top: 5px;
    padding-bottom: 8px;

    font-size: 14px;
  }
}
