//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the section title component.
// -----------------------------------------------------------------------------

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: $header-text-color;
  text-transform: uppercase;
}
