//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the skill component.
// -----------------------------------------------------------------------------

.ke-skill {
  margin-bottom: 14px;

  text-align: left;

  .ke-skill-title {
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: bold;
  }
}

.progress {
  position: relative;

  height: 23px;

  border-radius: 0;
}

.progress-bar {
  background-color: $brand-color;
}

.ke-progress-value {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 14px;
  color: $white;
}

@include respond-to(md-up) {
  .ke-skill {
    margin-bottom: 16px;
  }
}
