//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;

  .hero {
    padding-top: 60px;
    padding-bottom: 66px;

    text-align: center;

    background-color: $brand-color;

    &-title {
      margin: 0;

      font-size: 42px;
      line-height: 1.1;
      color: #fff;
    }

    &-subtitle {
      font-size: $content-font-size;
      color: #fff;
      &-position {
        font-size: 31px;
      }
    }

    &-content {
      padding-top: 24px;
      padding-right: 15px;
      padding-bottom: 24px;
      padding-left: 15px;

      font-size: 15px;
      font-weight: 300;
      color: #fff;
    }

    .btn {
      margin-top: 16px;
    }
  }

  .about {
    background-color: #f7f7f7;

    .description {
      padding-bottom: 48px;
    }

    .description-text {
      span {
        font-weight: bold;
      }
    }

    &-skills {
      padding-top: 8px;
    }

    &-social {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &-social-icons {
      padding-top: 6px;
      padding-left: 4px;

      .ke-icon {
        margin-right: 10px;

        color: $header-text-color;

        border-width: 1px;
        border-color: $header-text-color;

        cursor: pointer;

        &:hover {
          color: #fff;

          background-color: $brand-color;
          border-color: $brand-color;
        }
      }
    }

    &-button {
      margin-top: 18px;

      .ke-btn {
        padding-right: 14px;
        padding-left: 14px;

        font-size: 14px;
        font-weight: bolder;
        text-transform: none;

        border-radius: 0;
      }
    }

    .about-skills,
    .about-social,
    .about-button {
      text-align: left;

      h2 {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }

  .services {
    padding-bottom: 86px;

    background-color: #fff;
    .description {
      padding-bottom: 64px;
    }
  }

  .portfolio {
    padding-bottom: 120px;

    background-color: #f7f7f7;

    .description {
      padding-bottom: 26px;
    }

    .portfolio-wrapper {
      display: flex;
      padding: 0 15px;
      margin-top: -40px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: -40px;

      flex-flow: row wrap;
    }

    .portfolio-holder {
      flex-basis: (100/2) * 1%;
      padding-top: 40px;
      padding-right: 0;
      padding-left: 40px;
      margin-bottom: 0;
    }
  }

  .testimonials {
    position: relative;

    background-image: url("../../assets/images/testimonials-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.ke-section {
      padding-top: 142px;
      padding-bottom: 150px;
    }

    .description {
      position: relative;
      z-index: 1;
    }

    .description-title {
      color: #fff;
      text-transform: unset;
    }

    .testimonial-holder {
      padding-top: 72px;
      padding-right: 34px;
      padding-bottom: 84px;
      padding-left: 34px;
    }

    .testimonial-icon {
      .ke-icon {
        width: 40px;
        height: 40px;

        font-size: 15px;
        color: #fff;

        border-color: #bababa;
      }
    }

    .testimonial-message {
      padding-top: 20px;
      padding-bottom: 20px;

      font-size: 16px;
      color: #fff;
    }

    .testimonial-author {
      padding-top: 8px;

      color: #fff;
    }

    .author-name {
      font-weight: bolder;
      text-transform: uppercase;
    }

    .author-position {
      margin-top: 6px;

      font-size: 15px;
      color: #fff;
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: #000;

      opacity: .76;
    }
  }

  .contact {
    padding-bottom: 45px;

    .description {
      padding-bottom: 40px;
    }

    .ke-card {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 12px;

      background-color: #fff;
    }

    .ke-card-content {
      padding-top: 12px;
      padding-right: 32px;
      padding-left: 32px;

      font-size: 15px;
    }

    .ke-icon {
      width: 68px;
      height: 68px;

      font-size: 22px;
    }

    .contact-form {
      padding-top: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      padding-left: 50px;
    }

    .ke-btn {
      padding-top: 14px;
      padding-bottom: 14px;
      width: 100%;

      font-weight: bold;

      border-width: 1px;
    }
  }
}

@include respond-to(sm-up) {
  .home {
    .hero {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    .contact {
      .ke-card-content {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}


@include respond-to(lg-up) {
  .home {
    .hero {
      padding-top: 315px;
      padding-bottom: 318px;

      &-title {
        font-size: 62px;
        font-weight: 600;
        line-height: 1;
      }

      &-subtitle {
        font-size: 30px;
        line-height: 48px;
      }

      &-content {
        padding-right: 102px;
        padding-left: 102px;

        letter-spacing: 1px;
      }

      .ke-btn {
        padding: 14px 36px;
        margin-top: 22px;

        font-weight: bold;
        letter-spacing: 3px;
      }
    }

    .about {
      .container {
        padding-right: 0;
        padding-left: 0;
      }

      .description {
        padding-bottom: 50px;
      }

      &-profile {
        padding-right: 15px;
        height: 100%;
      }

      &-skills {
        padding-top: 36px;

        h2 {
          margin-bottom: 12px;
        }
      }

      &-button {
        margin-top: 20px;

        .ke-btn {
          letter-spacing: 1.5px;
        }
      }
    }

    .services {
      .container {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .portfolio {
      padding-bottom: 102px;

      .portfolio-wrapper {
        padding-right: 0;
        padding-left: 0;
        margin-top: -30px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: -30px;
      }
      .portfolio-holder {
        flex-basis: (100/3) * 1%;
        padding-top: 30px;
        padding-right: 0;
        padding-left: 30px;
        margin-bottom: 0;
      }
    }

    .testimonials {
      background-size: auto;

      &.ke-section {
        padding-top: 149px;
        padding-bottom: 154px;
      }

      .testimonial-holder {
        padding-top: 76px;
        padding-bottom: 88px;
      }

      .testimonial-icon {
        .testimonial-icon {
          .ke-icon {
            width: 40px;
            height: 40px;

            font-size: 16px;
          }
        }
      }

      .testimonial-message {
        padding-right: 50px;
        padding-left: 50px;
      }

      .testimonial-author {
        font-size: 18px;
      }

      .author-position {
        margin-top: 10px;

        font-size: 14px;
      }
    }

    .contact {
      padding-bottom: 38px;

      .container {
        padding-right: 0;
        padding-left: 0;
        max-width: 900px;
      }

      .description {
        padding-bottom: 44px;
      }

      .description-text {
        padding: 15px 12px;
      }

      .ke-card-content {
        padding-right: 0;
        padding-left: 0;
      }

      .contact-form {
        padding-top: 32px;
        padding-right: 0;
        padding-left: 0;
      }

      .ke-btn {
        padding-right: 37px;
        padding-left: 37px;
        width: auto;

        letter-spacing: 2px;
      }
    }
  }
}
