//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;

  .hero {
    padding-bottom: 66px;

    text-align: center;

    background-color: $brand-color;

    &-title {
      margin: 0;

      font-size: 42px;
      line-height: 1.1;
      color: #fff;
    }

    &-subtitle {
      font-size: $content-font-size;
      color: #fff;
      &-position {
        font-size: 31px;
      }
    }

    &-content {
      padding-top: 24px;
      padding-right: 15px;
      padding-bottom: 24px;
      padding-left: 15px;

      font-size: 15px;
      color: #fff;
    }

    .btn {
      margin-top: 16px;
    }
  }

  .about {
    background-color: #f7f7f7;

    .description {
      padding-bottom: 48px;
    }

    .description-text {
      span {
        font-weight: bold;
      }
    }

    .about-skills {
      padding-top: 8px;
    }

    .about-social {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .about-social-icons {
      padding-top: 6px;
      padding-left: 4px;
      .ke-icon {
        margin-right: 10px;
      }
    }

    .about-button {
      margin-top: 18px;
      .ke-btn {
        padding-right: 14px;
        padding-left: 14px;

        font-size: 14px;
        font-weight: bolder;
        text-transform: none;

        border-radius: 0;
      }
    }

    .about-skills,
    .about-social,
    .about-button {
      text-align: left;
      h2 {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }

  .services {
    background-color: #fff;
    .description {
      padding-bottom: 50px;
    }
  }

  .portfolio {
    background-color: #f7f7f7;

    .description {
      padding-bottom: 12px;
    }

    .portfolio-wrapper {
      display: flex;
      padding-bottom: 12px;

      flex-flow: row wrap;
    }

    .portfolio-holder {
      padding: 15px;

      flex: 0 50%;
    }
  }

  .testimonials {
    position: relative;

    background-image: url("../../assets/images/testimonials-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.ke-section {
      padding-top: 142px;
      padding-bottom: 150px;
    }
    .description-title {
      color: #fff;
      text-transform: unset;
    }

    .testimonial-holder {
      padding-top: 72px;
      padding-right: 34px;
      padding-bottom: 84px;
      padding-left: 34px;
    }

    .testimonial-icon {
      .ke-icon {
        width: 40px;
        height: 40px;

        font-size: 15px;
        color: #fff;

        border-color: #bababa;
      }
    }

    .testimonial-message {
      padding-top: 20px;
      padding-bottom: 20px;

      font-size: 17px;
      color: #bababa;
    }

    .testimonial-author {
      padding-top: 8px;

      color: #fff;
    }

    .author-name {
      font-weight: bolder;
      text-transform: uppercase;
    }

    .author-position {
      margin-top: 6px;

      font-size: 15px;
      color: #bababa;
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: #000;

      opacity: .76;
    }
  }
}


// .swiper-container {
//   margin-top: 40px;
//   width: 500px;
//   height: 300px;
//   overflow: hidden;

//   border: 2px #007aff solid;
//   border-radius: 3px;
// }

// .swiper-slide {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   font-size: 18px;
//   text-align: center;

//   background: #ffffff;
// }



