//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;

  .hero {
    padding-bottom: 40px;

    text-align: center;

    background-color: $brand-color;
  }

  .hero-title {
    margin: 0;

    font-size: 46px;
    color: #fff;
  }

  .hero-subtitle {
    font-size: $content-font-size;
    color: #fff;
    .hero-position {
      font-size: 28px;
    }
  }

  .hero-content {
    padding-top: 36px;
    padding-bottom: 36px;

    font-size: $content-font-size;
    color: #fff;
  }

  .about {
    background-color: #f7f7f7;

    .description-text {
      span {
        font-weight: bold;
      }
    }

    .about-skills {
      padding-top: 8px;
    }

    .about-social {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .about-social-icons {
      padding-left: 4px;
      .ke-icon {
        margin-right: 10px;
      }
    }

    .about-button {
      .btn {
        padding-right: 14px;
        padding-left: 14px;

        font-size: 14px;
        font-weight: bolder;
        text-transform: none;

        border-radius: 0;
      }
    }

    .about-skills,
    .about-social,
    .about-button {
      text-align: left;
      h2 {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }

  .services {
    background-color: #fff;
  }

  .portfolio {
    background-color: #f7f7f7;
  }
}


// .swiper-container {
//   margin-top: 40px;
//   width: 500px;
//   height: 300px;
//   overflow: hidden;

//   border: 2px #007aff solid;
//   border-radius: 3px;
// }

// .swiper-slide {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   font-size: 18px;
//   text-align: center;

//   background: #ffffff;
// }



