//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
  color: $header-text-color;
  text-decoration: none;

@include on-event {
    color: $brand-color;
    text-decoration: underline;
  }
}

.ke-btn,
a {
          transition: all .2s ease-in-out;

  -webkit-transition: all .2s ease-in-out;

@include on-event {
    outline: 0;

@include boxshadow(none);
  }
}

.ke-section {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
}

.ke-container {
  max-width: 100%;
}

.swiper-pagination {
  & > .swiper-pagination-bullet {
    margin: 0 14px !important;
    width: 10px;
    height: 10px;

    background-color: $white;

    opacity: 1;
  }
  & > .swiper-pagination-bullet-active {
    background: $brand-color;
  }
}


/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  padding: 12px;
  margin-bottom: 24px;
  width: 100%;

  font-size: 14px;

  border-width: 1px;
  border-color: $mid-grey;
  border-style: solid;
  border-radius: 4px;
  outline: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-focus-ring-color: none;

@include placeholder() {
    opacity: .8;
  }

  // @include on-event {
  //     @include boxshadow(none);
  //   }
}

textarea {
  display: block; // removes bottom space  padding: 10px;
  height: 184px;

  font-size: 16px;
}

// //styles for navbar-toggler
.navbar-toggler {
  padding: 10px 0;

  border: 0;
  border-radius: 0;

@include on-event() {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 29px;
    height: 4px;

    background: #fff;

@include transition(.5s cubic-bezier(.65, .05, .36, 1));

@include boxshadow(none);

    & + .icon-bar {
      margin-top: 4px;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      &:first-child {
        @include transform(rotate(225deg) translate(-6px, -5px));
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(-225deg) translate(-6px, 6px));
      }
    }
  }
}

@include respond-to(md-up) {
  .ke-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .swiper-pagination {
    & > .swiper-pagination-bullet {
      margin: 0 6px !important;
    }
  }
}
